# Carregando o dataset

In [1]:
from CSV_Loader_GUI import carregar_e_exibir_csv

# Chama a interface gráfica e retorna o DataFrame
df = carregar_e_exibir_csv()

# Verifica o conteúdo do DataFrame
if df is not None:
    print("Dados carregados com sucesso!")
else:
    print("Nenhum arquivo foi carregado.")

Dados carregados com sucesso!

# Importando Bibliotecas

In [2]:
import pandas as pd
import os

# Manipulando os dados

## Convertendo a coluna data_venda para o formato YYYY-MM-DD

In [3]:
df['data_venda'] = pd.to_datetime(df['data_venda'], format="%d/%m/%Y").dt.strftime("%Y-%m-%d")

## Criando a coluna total_venda

In [4]:
df['total_venda'] = df['quantidade'] * df['preco_unitario']
df.head(3)

,id_venda,data_venda,cliente,produto,quantidade,preco_unitario,total_venda
0,1,2024-03-12,Laura Turner,Teclado,5,4231.92,21159.60
1,2,2025-01-25,Regina Johnson,Teclado,4,583.05,2332.20
2,3,2024-07-08,Brent Garcia,Monitor,2,1495.76,2991.52

## Salvando o novo dataset

In [ ]:
# Definir o caminho do diretório onde o arquivo será salvo
output_dir = "../../data/cleaned_data"
os.makedirs(output_dir, exist_ok=True)

# Caminho completo do arquivo CSV
output_file = os.path.join(output_dir, "Arquivo_CSV_de_Vendas_Limpo.csv")

# Salvando o DataFrame modificado
df.to_csv(output_file, index=False)

print(f"Arquivo salvo em: {output_file}")